[submodule "PE_backend"]
	path = PE_backend
	url = https://github.com/SecurityTrip/PE_backend.git
	branch = master


[submodule "PE_frontend"]
	path = pe_frontend
	url = https://github.com/SecurityTrip/PE_frontend.git
	branch = master